/* Variables */
:root {
  /*Colors*/
  --blue-active-color: #8ea6c0;
  --blue-light-color: #6d8299;
  --blue-dark-color: #316b83;
  --white-color: #fff;
}
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
body {
  background: linear-gradient(#8a2387, #e94057, #f27121);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  color: var(--white-color);
  font-size: 2em;
  display: inlin-block;
}
p {
  font-size: 25px;
}
img,
button {
  box-shadow: 0px 0px 10px var(--white-color);
}
button {
  border-style: none;
}
/* Main */
main {
  background-color: var(--blue-light-color);
  box-shadow: 0px 0px 10px var(--white-color);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  width: 90vw;
  height: 95vh;
  opacity: 0.8;
}
/* Players - 2 sections */
section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  text-align: center;
}
/* Active player */
.player--active {
  background-color: var(--blue-active-color);
}
/* Inactive states */
.button--inactive {
  display: none;
}
/* Winner player */
.player--winner {
  background: linear-gradient(#8a2387, #e94057, #f27121);
}
/* Total scores */
.score {
  color: var(--white-color);
  font-size: 4em;
}
/* Current scores */
.current {
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px var(--white-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 25%;
  height: 20%;
}
/* Dice */
.dice {
  background-color: var(--white-color);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100px;
  height: 100px;
}
/* Buttons */
.btn {
  transform: translate(-50%, -50%);
  border-radius: 10px;
  font-size: 20px;
  position: absolute;
  left: 50%;
  width: 10%;
  height: 50px;
}
.btn--new {
  top: 10%;
}
.btn--roll {
  top: 70%;
}
.btn--hold {
  top: 80%;
}
